@use "../abstracts/" as *;

.container {
    display: flex;
    flex-direction: row;
}
.cart-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;

    img {
        aspect-ratio: 1/1;
        max-width: 250px;
        max-height: 250px;
    }
    .cart-arrows {
        display: flex;
    }
}

.cart-item {
    display: flex;
    flex-direction: row;
}
.date_wrapper {
    background-color: $secondary-color;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
