@use "../abstracts/" as *;

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.cart-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;

    img {
        aspect-ratio: 1/1;
        max-width: 250px;
        max-height: 250px;
        width: 250px;
    }
    .cart-arrows {
        display: flex;
        margin-block-start: 2rem;
        h6 {
            font-size: 1.5rem;
            margin-inline: 0.5rem;
        }
    }
    .cart-item {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        background-color: #fff;
        border-radius: 1rem;
        margin: 1rem;
    }
    .cart-info {
        margin-inline-start: 2rem;
        align-self: flex-start;
    }
}
.increase,
.decrease {
    width: 2rem;
    background-color: $secondary-color;
    color: $bg-color;
}

.date_wrapper {
    background-color: $secondary-color;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-inline: 6rem;
    margin-block-end: 2rem;
    padding: 2rem;
    background-color: $secondary-color;
    border-radius: 1rem;
    .promotion {
        display: flex;
        align-items: center;
        button {
            block-size: 4rem;
            border: solid $accent-color 0.3rem;
            border-radius: 30rem;
            background-color: $primary-color;
            color: $bg-color;
            font-weight: 700;
            font-size: $font-size-sm;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out, border 0.3s ease-in-out;
            margin-inline-start: 1rem; // Added margin for spacing
            &:hover {
                background-color: darken($secondary-color, 10%);
                border: solid $bg-color 0.3rem;
                color: $primary-color;
            }
        }
    }
    button {
        block-size: 3rem;
        border: solid $accent-color 0.3rem;
        border-radius: 30rem;
        background-color: $primary-color;
        color: $bg-color;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
            border 0.3s ease-in-out;
        margin-block-start: 1rem; // Added margin for spacing
        &:hover {
            background-color: darken($secondary-color, 10%);
            border: solid $bg-color 0.3rem;
            color: $primary-color;
        }
    }
}
@keyframes changePrice {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#totalPrice,
#shippingPrice,
#total_price_tax {
    animation: changePrice 0.3s ease;
}
