@use "../abstracts/" as *;

.contact {
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $accent-color;
    padding: 2rem;
    color: $bg-color;
    margin-inline: 2rem;
    margin-block-end: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Added box-shadow for depth

    &_header {
        width: 75%;
        text-align: center;
    }

    &_items {
        display: flex;
        width: 80%; // Adjusted width for better responsiveness
        max-width: 500px; // Added max-width for better scalability
        flex-direction: column;
        border: solid 0.4rem $secondary-color;
        padding: 1rem; // Added padding for better spacing
        label {
            font-weight: bold; // Added bold font for labels
            margin-bottom: 0.5rem; // Added margin for spacing
        }
        input[type="text"],
        textarea {
            border: 0.3rem solid $secondary-color;
            border-radius: 0.5rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            width: 100%;
            &:focus {
                outline: none;
                border-color: $primary-color;
            }
        }
        textarea {
            resize: none;
            min-height: 150px;
        }
        button {
            block-size: 3rem;
            border: none;
            border-radius: 30rem;
            background-color: $secondary-color;
            color: $bg-color;
            font-weight: 700;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            margin-top: 1rem; // Added margin for spacing
            &:hover {
                background-color: darken(
                    $secondary-color,
                    10%
                ); // Darkened button color on hover
            }
        }
    }
}
