@use "../abstracts/" as *;

nav {
    background-color: $secondary-color;
}
.logo {
    min-inline-size: 10rem;
    block-size: 4rem;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    resize: none;
    flex-shrink: 0; // Prevent the logo from shrinking

    &-title {
        text-decoration: none;
        color: $bg-color;
        align-self: flex-start;
        font-size: $font-size-md;
        font-weight: $font-weight-700;
    }
}

.navigation {
    display: flex;
    font-weight: $font-weight-700;
    list-style: none;
}

.nav-link {
    display: inline;
    max-height: 40px;
    color: $accent-color;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    &-cart {
        display: inline;
        max-height: 40px;
        color: $accent-color;
        text-decoration: none;
        margin-inline-end: 3rem;
        transition: color 0.3s ease-in-out;
        &:hover {
            text-decoration: none;
            color: $bg-color;
        }
    }
    &:hover,
    &:focus {
        text-decoration: underline;
        color: $bg-color;
    }
}

@media (max-width: 991px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        margin-top: 1rem;
    }

    .nav-link {
        margin: 0.5rem 0;
        display: block;
        text-align: center;
    }

    .nav-link-cart {
        display: block;
        text-align: center;
    }
}
