@use "../abstracts/" as *;

.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: $bg-color;

    .homepage-text {
        flex: 1;
        margin-right: 50px;

        h1 {
            color: $primary-color;
            font-size: 3rem;
            margin-bottom: 20px;
        }

        p {
            color: $primary-color;
            font-size: 1.5rem;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 12px 24px;
            background-color: $primary-color;
            color: white;
            font-size: 1.2rem;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    .homepage-image {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }
    }
}

.banner {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.carousel {
    display: flex;
    width: 300%; /* Adjust width based on the number of slides */
    animation: slideAndGradient 10s infinite;
}

.slide {
    flex: 0 0 33.33%; /* Adjust based on the number of slides */
    height: 150px; /* Adjust height as needed */
    position: relative; /* Position for pseudo-element */
}

.slide:nth-child(1) {
    background: linear-gradient(
        to right,
        $gradient-color-1,
        $gradient-color-2
    ); /* Gradient background for first slide */
}

.slide:nth-child(2) {
    background: linear-gradient(
        to right,
        $gradient-color-2,
        $gradient-color-1
    ); /* Gradient background for second slide */
}

.slide:nth-child(3) {
    background: linear-gradient(
        to right,
        $gradient-color-1,
        $gradient-color-2
    ); /* Gradient background for third slide */
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Start position */
    width: 200%;
    height: 100%;
    background: inherit; /* Inherit gradient background from slide */
}

#promo-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: $font-size-lg;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: moveMessage 10s infinite alternate; /* Apply movement animation */
}

@keyframes slideAndGradient {
    0%,
    100% {
        transform: translateX(0); /* Initial and final position */
        animation-delay: 0.5ms;
    }
    33.33%,
    66.67% {
        transform: translateX(-50%); /* Intermediate positions for sliding */
    }
}

@keyframes moveMessage {
    0% {
        transform: translate(-50%, -50%) rotate(-2deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(2deg);
    }
}

@media (max-width: 768px) {
    .homepage {
        flex-direction: column;
        padding: 30px;
        a {
            margin-block-end: 1rem;
        }
        .homepage-text,
        .homepage-image {
            margin-right: 0;
            width: 100%;
        }

        .homepage-text {
            text-align: center;

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.3rem;
            }
        }
    }
    #promo-message {
        font-size: $font-size-md;
    }
}
