$bg-color: #f5f5dc;
$accent-color: #cd5c5c;
$primary-color: #8b4513; // standard p color
$secondary-color: #e9967a;
$succes-color: #6cc070;
$error-color: red;

// For the caroussel

$gradient-color-1: $secondary-color;
$gradient-color-2: $primary-color;
