@use "./sizes" as *;
@use "./colors" as *;

@mixin button-styles {
    padding: 12px 24px;
    background-color: $accent-color;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($accent-color, 10%);
    }
}
